<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="c:\Logs\nlog.txt" internalLogLevel="Trace"> 
  <targets>
    <!-- For local logs -->
    <target name="file" xsi:type="File" fileName="C:/Logs/DOJO.WebApi.${shortdate}.txt">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}:" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="file" enabled="true" />
  </rules>
</nlog>